.gridContainer{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/arcade_background.gif);
  background-attachment: fixed;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  justify-content: center;
  align-items: center;
  .grid{
    display: flex;
    flex-wrap: wrap;
    width:40rem;
    height: 40rem;
    background-image: url(../img/space-background.gif);
    background-size: cover; 

    div{
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
.nave{
  background-image: url(../img/nave.png);
  background-size: cover; 

}
.bala{
  background-color: orange;
}

