.grid{
  display: flex;
  flex-wrap: wrap;
  width:300px;
  height: 300px;
  border: solid black 1px;
  div{
    height: 20px;
    width: 20px;
    
  }
}

.invader{
  background-color: blue;
  border-radius: 10px;
}
.shooter{
  background-color: blueviolet;
  border-radius: 10px;
}