
.contenedorInvasores{
    font-family: $font_family_1;
    color: bisque;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .grid{
    display: flex;
    flex-wrap: wrap;
    width:20rem;
    height: 20rem;
  
    }
  }
  
.invasor{
    background-image: url(../img/alien.png);
    height: 4rem;
    width: 4rem;
    background-color:#23049D;
    background-size: 3rem 3rem; 
    background-repeat: no-repeat; 
    background-position: center;
}
.invasorDisparado{
    background-image: url(../img/explosion.png);
    height: 4rem;
    width: 4rem;
    background-color:#23049D;
    background-size: 3rem 3rem; 
    background-repeat: no-repeat; 
    background-position: center;
}
.turnos{
    padding:1rem;
    margin: 1rem;
    font-family: $font_family_1;
    background-color: #7066e0;
    color: white;
    border: solid #b7b2ef;
    border-radius: 0.2rem;
    &:hover{
        background-color:#655cc9 ;
    }
    &:active{
        background-color: #5a52b3;
    }
}