.contenedorManzanas{
    font-family: $font_family_1;
    color: bisque;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/arcade_background.gif);
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .grid{
      display: flex;
      flex-wrap: wrap;
      width:20rem;
      height: 20rem;
      .manzana{
        background-image: url(../img/manzana.png);
        height: 4rem;
        width: 4rem;
      }
    }
}